<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        <style>
            .status {
                font-weight: bold;
                padding: 5px 10px;
                border-radius: 5px;
            }
            .status-active {
                color: white;
                background-color: green;
            }
            .status-inactive {
                color: white;
                background-color: grey;
            }
            .status-error {
                color: white;
                background-color: red;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            // Function to update the sent data size in real-time
            function updateDataSize() {
                $.get('/data_size', function(data) {
                    $('#data_size').text(data.total_sent + ' bytes');
                });
            }

            // Poll the server every 2 seconds to get the data size
            setInterval(updateDataSize, 2000);
        </script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
