<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        <style>
            .status {
                font-weight: bold;
                padding: 5px 10px;
                border-radius: 5px;
            }
            .status-active {
                color: white;
                background-color: green;
            }
            .status-inactive {
                color: white;
                background-color: grey;
            }
            .status-error {
                color: white;
                background-color: red;
            }
        </style>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
